@charset "UTF-8";
/*https://coolors.co/7b7554-17183b-a11692-ff4f79-ffb49as*/
:root {
  --min-width: 320px; }

html {
  font-size: 3px; }

@media screen and (min-width: 480px) {
  html {
    font-size: 5px; } }

@media screen and (min-width: 660px) {
  html {
    font-size: 7px; } }

@media screen and (min-width: 900px) {
  html {
    font-size: 9px; } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif; }

main {
  min-width: var(--min-width); }

h1 {
  font-size: 3rem; }

p, label, span {
  font-size: 1.5rem; }

label {
  display: block;
  margin: 1rem 0; }

section {
  margin: 3rem 0; }

img {
  width: 100%; }

.container-img {
  width: calc(100vw*0.8);
  margin: 3rem auto; }

/*Overwrite*/
* {
  color: #FFFFFF;
  z-index: 0; }

ul, ol {
  list-style: none; }

.app__header-container--h1 {
  display: flex;
  /* Utilizamos flexbox para centrar verticalmente el contenido */
  align-items: center;
  /* Centra verticalmente el contenido */
  justify-content: center;
  /* Centra horizontalmente el contenido */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(45deg, rgba(23, 24, 59, 0.7), rgba(161, 22, 146, 0.9)); }

.app__header-container-back--h1 {
  background: linear-gradient(45deg, rgba(23, 24, 59, 0.7), rgba(161, 22, 146, 0.9));
  border-radius: 7px;
  /* Agrega esquinas redondeadas */
  padding: 1.6rem 5.3rem 1.6rem 5.3rem; }

.app__header--h1 {
  font-family: "Press Start 2P", sans-serif;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 0.8rem 1.2rem;
  background: linear-gradient(45deg, #ff828a, #ffb49a);
  background-clip: text;
  /* Hace que el fondo degradado solo se aplique detrás del texto */
  -webkit-background-clip: text;
  /* Para navegadores webkit (como Chrome) */
  color: transparent;
  /* Hace el texto transparente para que el degradado se muestre detrás */
  display: inline-block;
  /* Hace que el fondo se ajuste al texto */
  z-index: 1; }

/*Componente ToDo*/
@keyframes fondoAnimado {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.todo-component__container-background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #7b7554, #8386dd, #a11692, #ff4f79, #ffb49a);
  /* Define los colores del degradado */
  background-size: 400% 400%;
  /* Aumenta el tamaño para crear un efecto de movimiento */
  animation: fondoAnimado 25s ease infinite;
  /* Ajusta la duración y el tipo de animación */ }
  .todo-component__container-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/SubnaticaBG001.jpg");
    opacity: 0.5;
    /* Agregar un marco oscuro calc((100% - 90%) / 2) */
    border: 1.1rem solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    /* Incluye el borde en el tamaño total */ }

.todo-component__content-container {
  display: flex;
  /* Utilizamos flexbox para centrar verticalmente el contenido */
  align-items: center;
  /* Centra verticalmente el contenido */
  justify-content: center;
  /* Centra horizontalmente el contenido */
  padding-top: 3rem;
  padding-bottom: 3rem; }

.todo-component__content-background {
  padding: 2rem 4rem;
  width: 63%;
  /*background-image: url("./assets/images/NeonTreeMoon001.jpg");*/
  background-color: #a11692;
  opacity: 0.69;
  background-size: cover;
  /* Ajusta la imagen de fondo para cubrir todo el contenedor sin distorsionar */
  background-position: center;
  /* Centra la imagen de fondo */
  background-repeat: no-repeat;
  box-sizing: border-box;
  /* Incluye el borde en el tamaño total */
  border-radius: 8px;
  /* Agrega esquinas redondeadas */ }

/*Componente ToDoCounter*/
.todo-counter__header {
  font-size: 4.2rem;
  text-align: center;
  margin: 0;
  padding: 3.4rem; }
  .todo-counter__header--bold {
    font-weight: bolder; }

/*Componente ToDoAdd*/
.todo-add {
  background-color: #61dafa;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 6rem;
  position: fixed;
  bottom: 2.8rem;
  right: 2.8rem;
  font-weight: bold;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.2rem;
  width: 6.2rem;
  transform: rotate(0);
  transition: 0.3s ease; }
  .todo-add:hover {
    transform: rotate(224deg); }

/*Componente ToDoList*/
.todo-item {
  background-color: #FAFAFA;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15); }
  .todo-item p {
    /* Estilos para los elementos <span> que son hermanos adyacentes después de '.mi-clase' */
    color: #000;
    /* Por ejemplo, cambiar el color del texto a rojo */
    font-weight: bold;
    /* Por ejemplo, hacer el texto en negrita */ }
  .todo-item__icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    font-weight: bold; }
    .todo-item__icon--check-deactivated {
      position: absolute;
      left: 1rem; }
    .todo-item__icon--check-activated {
      color: #4caf50; }
    .todo-item__icon--delete {
      background-color: rgba(255, 0, 0, 0.5);
      border-radius: 2rem;
      position: absolute;
      top: -2rem;
      right: 0; }
    .todo-item__icon--delete:hover {
      color: red;
      background-color: rgba(250, 250, 250, 0.5); }
  .todo-item__p {
    margin: 2rem 0 2rem 2rem;
    width: calc(100% - 11rem);
    font-size: 1.7rem;
    line-height: 2.1rem;
    font-weight: 400; }
    .todo-item__p span {
      color: black;
      text-decoration: none;
      font-size: 1.7rem;
      line-height: 2.1rem;
      font-weight: bolder; }
    .todo-item__p--completed span span {
      text-decoration: line-through;
      color: red;
      font-size: 1.7rem;
      line-height: 2.1rem;
      font-weight: bolder; }

/*Componente ToDoSearchBar*/
.todo-search-bar__bar {
  background: #f9fbfc;
  border-radius: 2px;
  border: 2px solid #202329;
  margin: 0 2rem;
  height: 4rem;
  width: calc(100% - 2rem);
  font-size: 2.4rem;
  text-align: center;
  font-family: montserrat;
  font-weight: 400;
  color: #1e1e1f;
  box-shadow: 0 5px 50px rgba(32, 35, 41, 0.25); }
  .todo-search-bar__bar::placeholder {
    color: #a5a5a5;
    font-family: montserrat;
    font-weight: 400; }
  .todo-search-bar__bar:focus {
    outline-color: #016c8a; }
